<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movies in {{ genre_name }} Genre</title>
</head>
<body>
    <h1>Movies in {{ genre_name }} Genre</h1>
    <table border="1">
        <tr>
            <th>Movie Title</th>
            <th>Year</th>
            <th>Rating</th>
            <th>Director</th>
        </tr>
        {% for movie in movies %}
            <tr>
                <td>{{ movie['movie_title'] }}</td>
                <td>{{ movie['movie_year'] }}</td>
                <td>{{ movie['rating'] }}</td>
                <td>{{ movie['director'] }}</td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>
